.main{
    padding: 20px;;
}

.table-container{
    position: relative;
    margin-top:8px;
}

.settings-button{
  margin-left:65%;
}

.header-holder{
  display: inline-flex;
  width: 100%;
}
.icon-holder{
  float: left;
  align-self: center;
  padding: 8px;
}

.loader{
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 300px;
}

.card-holder{
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 300px;
}

.info-card{
  padding: 8px;
  margin:16px;
  min-width: 300px;
}

.notification-list{
  min-width: 400px;
  max-width: 900px;
}

.loading-shade{
    position: absolute;
    /* top:300px; */
    /* left:20px; */
    background: rgba(0,0,0,0.15);
    z-index: 100;
    width:800px; 
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 1000px;
    width:800px; */
}


tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: #f4f4f4;;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }

  .overview-table{
    border-collapse: collapse;
    border-spacing: 0;
    margin-left:8px;
    margin-right:8px;
  }

  .overview-table td{
    border-width: 1px 0;
    border-style: solid;
    border-color:#e0e0e0;
    padding:8px;
    line-height: 16px;
  }

  th{
    display: table-cell;
    text-align: right;
    border-width: 1px 0;
    border-style: solid;
    border-color:#e0e0e0;
    padding:8px;
  }