.main{
    padding: 20px;;
}

.table-container{
    position: relative;
    margin-top:8px;
}

.settings-button{
  margin-left:65%;
}

.header-holder{
  display: inline-flex;
  width: 100%;
}
.icon-holder{
  float: left;
  align-self: center;
  padding: 8px;
}

.loader{
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 300px;
}

.card-holder{
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 300px;
  margin-top: 8px;
}

.info-card{
  padding: 8px;
  margin:16px;
  min-width: 300px;
}

.notification-list{
  min-width: 400px;
  max-width: 900px;
}

  .overview-table{
    border-collapse: collapse;
    border-spacing: 0;
    margin-left:8px;
    margin-right:8px;
  }

  .overview-table td{
    border-width: 1px 0;
    border-style: solid;
    border-color:#e0e0e0;
    padding:8px;
    line-height: 16px;
  }

  th{
    display: table-cell;
    text-align: right;
    border-width: 1px 0;
    border-style: solid;
    border-color:#e0e0e0;
    padding:8px;
  }