.dataset-form{
    min-width:150px;
    max-width:500px;
    width:100%;
    margin-top:20px;
    flex-direction: column;
    padding:20px;
    display:flex;
}
label{
    display: inline-block;
    margin-bottom:20px;
    margin-top:20px;
    min-width: 150px;
    max-width: 500px;
    width:100%;
}

.title-field{
    width: 60%;
}

mat-form-field{
    min-width: 200px;
    max-width: 600px;
    max-height: 200px;
    width: 100%;
}
mat-list-item{
    margin-bottom: 20px;
}
button{
    margin-top: 20px;
    flex-direction: row;
}

.button-holder{
    flex-direction: row;
    display: inline-flex;
    float: right;
}

.mat-horizontal-content-container{
    display: grid;
    align-content: center;
}

.cholder{
    display: grid;
    align-content: center;
}

.content{
    max-width: 900px;
    min-width: 300px; 
    width:100%;
    align-self: center;
    justify-self: center;
    border: 1px solid #e8eaed;
    padding: 16px;
    border-radius:8px;
    margin-top: 16px;
}

mat-progress-spinner{
    bottom: -20px;
    margin-right:10px;
}

mat-card{
    height: 180px;
}

mat-card:hover{
    background-color: #fbfcfb;
}

mark{
    color: green;
    background-color: transparent;
}