.dataset-form{
    min-width:150px;
    max-width:500px;
    width:100%;
    margin-top:20px;
    flex-direction: column;
    padding:20px;
    display:flex;
}
label{
    display: inline-block;
    margin-bottom:20px;
    margin-top:20px;
    min-width: 150px;
    max-width: 500px;
    width:100%;
}

mat-radio-button{
    margin-right: 16px;
}

.title-field{
    width: 60%;
}

mat-form-field{
    min-width: 200px;
    max-width: 600px;
    max-height: 200px;
    width: 100%;
}
mat-list-item{
    margin-bottom: 20px;
}
button{
    margin-top: 20px;
    flex-direction: row;
}

.seed-holder{
    margin:16px;
}
.seed-holder mat-list-item{
    margin-bottom:4px;
    border-bottom: 1px solid aliceblue;
    max-width: 600px;
}
.seed-holder app-text-index-annotator{
    max-width: 600px;
    width: 100%;
}

h4{
    margin:4px;
}

.chip-mature{
    background-color: #ffa31a;
    color:#292929;
}
.chip-scientific{
    background-color: green;
    color:#fff;
}
.chip-technical{
    background-color: indigo;
    color:#fff;
}
.chip-lexical{
    background-color: #3f51b5;
    color:#fff;
}

  .overview-table{
    border-collapse: collapse;
    border-spacing: 0;
    margin-left:8px;
    margin-right:8px;
  }

  .overview-table td{
    border-width: 1px 0;
    border-style: solid;
    border-color:#e0e0e0;
    padding:8px;
    line-height: 16px;
  }

  .overview-table th{
    display: table-cell;
    text-align: right;
    border-width: 1px 0;
    border-style: solid;
    border-color:#e0e0e0;
    padding:8px;
  }

.button-holder{
    flex-direction: row;
    display: inline-flex;
    float: right;
}

.mat-horizontal-content-container{
    display: grid;
    align-content: center;
}

.cholder{
    display: grid;
    align-content: center;
}

.content{
    max-width: 900px;
    min-width: 300px; 
    width:100%;
    align-self: center;
    justify-self: center;
    border: 1px solid #e8eaed;
    padding: 16px;
    border-radius:8px;
    margin-top: 16px;
}

mat-progress-spinner{
    bottom: -20px;
    margin-right:10px;
}

mat-card{
    height: 180px;
    margin-top:4px;
    margin-bottom: 8px;
}

mark{
    color: green;
    background-color: transparent;
}