.mat-row:hover{
    background-color: #f4f4f4;
}
.mat-row{        
    position: relative;
}

.mat-row-link{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 10%;         
}
.mat-row-link.warn{
    background-color:#dd2c00;
}
.mat-row-link.good{
    background-color:#00c853;
}

mat-sidenav-content{
    /* background-color: #fbfcfb; */
    background-color: #ffffff;
}

a{
    z-index: 99;
}

mat-icon{
    z-index: 100;
}
mat-icon.alert{
    color: #ffa000;
}
mat-icon.warn{
    color: #dd2c00;
}