.textarea::selection{
    background-color: transparent;
  }


  .big-container{
    min-height: 20px;
    min-width: 300px;
  }
  mark {
    border-radius: 3px;
    color: transparent;
    background-color: #48a999;
  }

  .backdrop{
    position: relative;
  }

  .disabledrag{
    -webkit-user-drag: none;
   -khtml-user-drag: none;
   -moz-user-drag: none;
   -o-user-drag: none;
    user-drag: none;
 }

 .highlights {
  position: absolute;
  top: 0;
  opacity: 40%;
  /* white-space: pre-wrap; */
  word-wrap: break-word;
  color: transparent;
}

.textarea {
display: block;
position: absolute;
z-index: 2;
margin: 0;
border: 2px solid var(--primary);
border-radius: 4px;
color: #000;
background-color: transparent;
overflow: auto;
resize: none;
transition: transform 1s;
margin-left:8px;
}